#Dependencias
node_modules/

#Relatrios Mocha
mochawesome-report

#Videos e screenshots
cypress/videos
cypress/screenshots

#Outros
.DS_Store

index.json

#meus arquivo de treinamento
listagem.spec.js
cadastro.spec.js
listagem-com-itens.json
listagem-vazia.json